h1 {
   
    Font-weight: Normal;
    font-size: 50px;
    color: white;
    text-align: centered;

}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    
    font-size: 21px;
    color: gray
}

h2 {
    
    font-weight: 300;
    font-size: 42px;
    color: white
}

.click { 
    color: aquamarine;
    font-size: 16px;
}
.footer {
    text-align: right;
    font-size: 21px;
}